:root,
html,
body {
  font-family: Archivo, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #F4F5F2;
  background-color: #060706;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
