h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: x-large;
}

.timer-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.text {
  color: #aaa;
}

.value {
  font-size: 6rem;
  font-weight: semibold;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.timer-controls {
  display: flex;
  justify-content: center;
  width: 70dvw;
}

.timer-settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 70dvw;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100dvh;
}

.timer-container h1 {
  margin: 10px;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.setting-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.setting-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #4b5769;
  border-radius: 10px;
}

.setting-time-disabled {
  color: #303946;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #4b5769;
  border-radius: 10px;
}

.timer-background-container {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-background-container .progress-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.timer-background-container .countdown-circle-timer {
  position: relative;
  z-index: 2;
}
